In [13]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv')

In [3]:
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [4]:
# Q1. Pandas version
# What's the version of Pandas that you installed?
pd.__version__

'2.3.2'

In [5]:
# Q2. Records count
# How many records are in the dataset?
df.shape

(9704, 11)

In [6]:
# Q3. Fuel types
# How many fuel types are presented in the dataset?
print(df['fuel_type'].unique())
print(df['fuel_type'].nunique())

['Gasoline' 'Diesel']
2

In [7]:
# Q4. Missing values
# How many columns in the dataset have missing values?
miss_column = df.isnull().sum()
n_miss_column = miss_column[miss_column > 0]
n_miss_column

num_cylinders    482
horsepower       708
acceleration     930
num_doors        502
dtype: int64

In [8]:
# Q5. Max fuel efficiency
# What's the maximum fuel efficiency of cars from Asia?
df['origin'].unique()
asia = df[df['origin'] == 'Asia']
fuel_efficience_asia = asia['fuel_efficiency_mpg'].max()
fuel_efficience_asia

23.759122836520497

In [9]:
# Q6. Median value of horsepower
# Find the median value of horsepower column in the dataset.
median_df = df['horsepower'].median()
median_df

149.0

In [10]:
# Next, calculate the most frequent value of the same horsepower column.
mode_df = df['horsepower'].mode()[0]
mode_df

np.float64(152.0)

In [11]:
# Use fillna method to fill the missing values in horsepower column with the most frequent value from the previous step.
df['horsepower'] = df['horsepower'].fillna(mode_df)
# df

In [12]:
# Now, calculate the median value of horsepower once again.
median_filled = df['horsepower'].median()
median_filled

152.0

In [19]:
# Q7. Sum of weights
# Select all the cars from Asia
# Select only columns vehicle_weight and model_year
# Select the first 7 values
# Get the underlying NumPy array. Let's call it X.
# Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
# Invert XTX.
# Create an array y with values [1100, 1300, 800, 900, 1000, 1100, 1200].
# Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
# What's the sum of all the elements of the result?
asia.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
8,250,1.0,174.0,2714.219310,10.3,2016,Asia,Diesel,Front-wheel drive,-1.0,16.823554
12,320,5.0,145.0,2783.868974,15.1,2010,Asia,Diesel,All-wheel drive,1.0,16.175820
14,200,6.0,160.0,3582.687368,14.9,2007,Asia,Diesel,All-wheel drive,0.0,11.871091
20,150,3.0,197.0,2231.808142,18.7,2011,Asia,Gasoline,Front-wheel drive,1.0,18.889083
21,160,4.0,133.0,2659.431451,NaN,2016,Asia,Gasoline,Front-wheel drive,-1.0,16.077730

In [16]:
# Select only 'vehicle_weight' and 'model_year'
X_df = asia[['vehicle_weight', 'model_year']]

In [17]:
# Select first 7 rows
X_df = X_df.iloc[:7]

In [18]:
# Convert to NumPy array
X = X_df.to_numpy()

In [20]:
# Compute X^T X
XTX = X.T @ X  # matrix multiplication

In [21]:
# Invert XTX
XTX_inv = np.linalg.inv(XTX)

In [22]:
# Create y array
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

In [23]:
# Compute w = (X^T X)^(-1) X^T y
w = XTX_inv @ X.T @ y

In [24]:
# Sum of elements in w
result_sum = w.sum()
result_sum

np.float64(0.5187709081074008)

In [ ]:
# End the notebook